<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="shouldShowSearchResults">
    <ng-container *ngIf="matchedNavigationList && matchedNavigationList.length">
        <ul class="search-menu-list">
            <li *ngFor="let navigationItem of matchedNavigationList"
                (click)="navigationItemClickHandler(navigationItem)">
                {{navigationItem.label}}
            </li>
        </ul>
    </ng-container>
</ng-template>

<section class="banner-container d-flex align-items-center content-width-resolution-wise">
    <div class="width100">
        <div class="row">
            <div class="col-lg-8 d-flex flex-column justify-content-center">
                <div class="search-container">
                    <h1>7xStartup - Startup for Startups</h1>
                    <h5>India's first one stop solution for Startups.</h5>
                    <div class="form-group">
                        <i class="material-icons">search</i>
                        <input type="text" id="dynamic-placeholder" [superPlaceholder]="placeholder_samples"
                            [(ngModel)]="searchText" (ngModelChange)="searchTextChangeHandler($event)" cdkOverlayOrigin
                            #trigger="cdkOverlayOrigin" autocomplete="off" />
                    </div>
                    <ul class="popular-tags-section">
                        <li>Popular: </li>
                        <ng-container *ngFor="let tag of popularTags">
                            <li (click)="navigationItemClickHandler(tag)"><a>{{ tag.label }}</a></li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 banner-container-img" data-aos="zoom-out" data-aos-delay="200">
                <!-- <img src="assets\hero-img.png" class="img-fluid" alt=""> -->
                <ng-lottie [options]="bannerAnimationOption">
                </ng-lottie>
            </div>
        </div>
    </div>
</section>

<sevenx-home-pitch-card>
</sevenx-home-pitch-card>