<main class="content-width-resolution-wise digital-marketing-container">
    <div class="find-a-co-founder-form-container">
        <form appFormGroup [formGroup]="baseForm" class="find-a-co-founder-form">
            <div class="find-a-co-founder-form-heading">
                Connect with a like-minded community of startup entrepreneurs. Be inspired by fellow entrepreneurs. The time to startup is now. Just brief us below what you are looking for & we will try to fulfill your requirement at the earliest.
            </div>
            <div class="width100">
                <mat-form-field appFormField="Startup Name" class="form-field-container" appearance="fill">
                    <input matInput formControlName="startupName" placeholder="Startup Name">
                </mat-form-field>
            </div>

            <div class="width50">
                <mat-form-field appFormField="Contact Number" class="form-field-container" appearance="fill">
                    <input matInput type="number" formControlName="contactNo" placeholder="Contact Number">
                </mat-form-field>
            </div>

            <div class="width50">
                <mat-form-field appFormField="Email" class="form-field-container" appearance="fill">
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>
            </div>

            <div class="width24">
                <mat-form-field appFormField="Startup Incorporation Year" class="form-field-container"
                    appearance="fill">
                    <input matInput formControlName="startupYear" placeholder="Startup Incorporation Year">
                </mat-form-field>
            </div>

            <div class="width38">
                <mat-form-field appFormField="Stage of Startup" class="form-field-container" appearance="fill">
                    <input matInput #stageOfStartupInputElement autocomplete="off"
                        [matAutocomplete]="stageOfStartupAutocomplete" placeholder="Stage of Startup"
                        formControlName="startupYear"
                        (keyup)="stageOfStartupInputChangeHandler(stageOfStartupInputElement.value)">
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete #stageOfStartupAutocomplete="matAutocomplete"
                        [displayWith]="displayWithStartupStageFn"
                        (closed)="stageOfStartupFieldCloseHandler(stageOfStartupInputElement)"
                        (opened)="stageOfStartupInputChangeHandler('')">
                        <mat-option disabled *ngIf="!(stageOfStartupList && stageOfStartupList.length)">No Data Found
                        </mat-option>
                        <ng-container *ngIf="stageOfStartupList && stageOfStartupList.length">
                            <mat-option *ngFor="let option of stageOfStartupList" [value]="option">{{option}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="width38">
                <mat-form-field appFormField="Startup Industry" class="form-field-container" appearance="fill">
                    <input matInput #startupIndustryInputElement autocomplete="off"
                        [matAutocomplete]="startupIndustryAutocomplete" placeholder="Startup Industry"
                        formControlName="startupYear"
                        (keyup)="startupIndustryInputChangeHandler(startupIndustryInputElement.value)">
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete #startupIndustryAutocomplete="matAutocomplete"
                        [displayWith]="displayWithStartupIndustryFn"
                        (closed)="startupIndustryFieldCloseHandler(startupIndustryInputElement)"
                        (opened)="startupIndustryInputChangeHandler('')">
                        <mat-option disabled *ngIf="!(startupIndustryList && startupIndustryList.length)">No Data Found
                        </mat-option>
                        <ng-container *ngIf="startupIndustryList && startupIndustryList.length">
                            <mat-option *ngFor="let option of startupIndustryList" [value]="option">{{option}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="width100">
                <mat-form-field class="form-field-container" appearance="fill">
                    <input matInput #skillInputElement autocomplete="off" [matAutocomplete]="skillAutocomplete"
                        placeholder="Skill" (keyup)="skillInputChangeHandler(skillInputElement.value)"
                        formControlName="profileSkills">
                    <mat-icon class="cursor-pointer" matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete #skillAutocomplete="matAutocomplete" (opened)="skillInputChangeHandler('')"
                        (closed)="skillFieldCloseHandler(skillInputElement)">
                        <mat-option disabled *ngIf="!(skillList && skillList.length)">No Data Found
                        </mat-option>
                        <ng-container *ngIf="skillList && skillList.length">
                            <mat-option *ngFor="let option of skillList" [value]="option">{{option}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="width100">
                <mat-form-field appFormField="Write up of the Startup up Idea" class="form-field-container"
                    appearance="fill">
                    <input matInput formControlName="idea" placeholder="Write up of the Startup up Idea">
                </mat-form-field>
            </div>

            <div class="width100">
                <mat-form-field appFormField="Other Remarks" class="form-field-container" appearance="fill">
                    <input matInput formControlName="remarks" placeholder="Other Remarks">
                </mat-form-field>
            </div>

            <div class="width50">
                <div class="form-field-container mat-form-field">
                    <input type="file" (change)="onDocumentChange($event)" multiple>
                </div>
            </div>

        </form>
        <button mat-raised-button color="primary" (click)="submitClickHandler()">
            Submit
        </button>
    </div>
</main>