.startup-idea-list-main-container {
    padding: 1rem 3rem;
    .startup-idea-list-header-container {
        font-size: 24px;
        font-weight: 700;
        padding-left: 1rem;
    }
    .startup-idea-list-created-date-column-container {
        width: calc(100% / 6);
    }
    .startup-idea-list-name-column-container {
        width: calc(100% / 6);
    }
    .startup-idea-list-contact-number-column-container {
        width: calc(100% / 6);
    }
    .startup-idea-list-email-column-container {
        width: calc(100% / 6);
    }
    .startup-idea-list-stage-column-container {
        width: calc(100% / 6);
    }
    .startup-idea-list-industry-column-container {
        width: calc(100% / 6);
    }
}